<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <nav>
        <nav>
            <a href="/pizza">Find Slices</a>
        </nav>
        <a href="/pizza/<%=pizza._id%>/edit">Edit</a>
    
        <h1> <%= pizza.name %> </h1>
         <%= pizza.address%>
        <br>        
         <%= pizza.borough%>
         <br>
         <%= pizza.rating%>
         <br>
         <%= pizza.review%>


      
</body>
  </body>
</html>