<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <title>Edit Pizza</title>
  </head>
  <body class="edit">
    <h1><%= pizza.name %></h1>
    <form action="/pizza/<%=pizza.id; %>?_method=PUT" method="POST">Name:
    <input class="ename" type="text" name="name" value="<%=pizza.name %>" /> <br>
     Address:
    <input class="eaddress" type="text" name="address" value="<%=pizza.address; %>" /> <br>
    Borough:
    <input class="eborough" type="text" name="borough" value="<%=pizza.borough; %>" /><br />
    Rating: 
    <input class="erating" type="number" name="rating" value="<%=pizza.rating; %>" /> <br> 
    Review:
    <input class="ereview" type="text" name="review" value="<%=pizza.review; %>" /> <br>

    <input class="esubmit" type="submit" value="Add Slice" />
  </body>
</html>
