<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <nav>
      <a href="/pizza">List of Slices</a>
    </nav>
    <h1><%=pizza.name %></h1>
    Name: <%= pizza.name%>
    <br />
    Address: <%= pizza.address%>
    <br />
    Borough: <%= pizza.borough%>
    <br />
    Rating: <%= pizza.rating%>
    <br />
    Review: <%= pizza.review%>
  </body>
</html>
